@import URL('https://fonts.cdnfonts.com/css/arcade-classic');
@import URL('https://fonts.cdnfonts.com/css/magz');
@import url('https://fonts.cdnfonts.com/css/bungee-inline'); /*'Bungee Inline'*/

*{
    margin:0 auto;
    box-sizing:border-box;
    font-family: 'DM Sans', sans-serif;
  }

  section{
    width:100%;
    height:92.3vh;
    padding:15px;
    margin:0;
    background-image: url('img/Fondo.jpg');
    color: #dcdde1;
    
    display:none;
    justify-content:center;
    align-items: center;
    text-align:center;
  }
  
h2{
    color: #E84BC7;
    font-family: 'ArcadeClassic';
    font-size: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
}
.nivel1 {
    width: 400px; 
    height: 180px; 
    background: #7ED957;
    border-radius:6px;
    font-family: 'ArcadeClassic';
    color: #008037;
    margin: auto;
    font-size: 30px;
    border: #7ED957;
}
.nivel1:active{
    border:none;
    background-color: #b2e69d;
    color: #008037;
}
.nivel2 {
    width: 400px; 
    height: 180px; 
    background: #FF5757;
    border-radius:6px;
    font-family: 'ArcadeClassic';
    color: #FF1616;
    margin: auto;
    font-size: 30px;
    border: #FF5757;
}
.nivel2:active{
    border:none;
    background-color: #fa8888;
    color: #FF1616;
}

#estilo-botones{
    padding: 5em;
}
.rectangulo {
    width: 90%; 
    height: 600px; 
    background: #BDE2F1;
    border-radius:15px;
    display: flex;
    flex-direction: column;
}
.dificultades{
    width: 100%;
    text-align: center;
    height: 10%;
}

.cont{
    margin-top: 30px;
    width: 80%;
    height: 80%;
    display: flex;

    
}

p{
    text-align:center;
    padding:20px;
}

img {
    height: 30px;
}

#screen1{
    display:flex;
}

.navbar{
    text-align: center;
    background-color: #065A82;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
}

.navbar:hover{
  color:#38ABD9;
}
