<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Involucrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='datos.css') }}">
</head>
<body>
    <div class="container">

        <section id="screen1">
        <div>
            <h1>Involucrados</h1>
            <div class="rectangulo">
              <p>{{dato}}</p>
            </div>
            <div CLASS="puntaje" id= "resultado">
                <h2>{{respuesta}}</h2>
                <!-- <a href="{{ url_for('ranking')}}" type="button" class="botonFlecha"> -->
                 <a href="{{ url_for('tematica', tema = session['tema']) }}" type="button" class="botonFlecha"> 
                    <img src="{{ url_for('static', filename='img/Flecha.png') }}" alt="" class="flecha">
                </a> 
            </div>
        </div>
    </div>
    <footer>
        <div class="navbar">
            <table  width="100%">
                <tr>
                    <td width="%33" aling="center">
                        
                      <a href="{{ url_for('index') }}" class="nav__link"><img src="{{ url_for('static', filename='img/Inicio.png') }}" alt="" class="imagen.Inicio"></a> 
                    </td>
                    <td width="%33" aling="center">                                
                       <a href="{{ url_for('reglas') }}" class="nav__link"><img src="{{ url_for('static', filename='img/Reglas.png') }}" alt="" class="imagen.Reglas"></a> 
                      
                    </td>
                    <td width="%33" aling="center"> 
                       
                      <a href="{{ url_for('nosotras') }}" class="nav__link"><img src="{{ url_for('static', filename='img/Nosotras.png') }}" alt="" class="imagen.Nosotras"></a>
                    </td>
                </tr>
            </table>               
        </div>
    </footer>
</body>
</html>