<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Involucrados</title>
    <link rel="stylesheet" href="niveles.css">
</head>
<body>
  <div class="container">
    <section id="screen1">
      <div class="rectangulo">
        <div class="dificultades">
          <h2>DIFICULTADES</h2>
          <hr color= "#E84BC7" size=2 width="1400px">
        </div>
        <div class = "cont">
          <main class="form-signin">
            <form method="GET" action="/nivel1" id="formulario1">
              <div class="nivel1" id="estilos-botones">
                <input type="submit" class="w-100 btn btn-lg btn-success mt-2" value="NIVEL 1"/>
              </div>
            </form>
          </main>
          <main class="form-signin">
            <form method="GET" action="/nivel2" id="formulario1">
              <div class="nivel2" id="estilos-botones"> 
                <input type="submit" class="w-100 btn btn-lg btn-success mt-2" value="NIVEL 2"/>
              </div>
            </form>
          </main>
        </div>
      </div>
  </div>
  
    <footer>
        <div class="navbar">
            <table  width="100%">
                 
                <tr>
                    <td width="%33" aling="center">
                        <a href={{ url_for('ret_involucrados')}} class="active nav__link"><img src="{{ url_for('static', filename='img/Inicio.png') }}" alt="" class="imagen.Inicio"></a>
                    </td>
                    <td width="%33" aling="center">                
                        <a href={{ url_for('ret_reglas') }} class="nav__link"><img src="{{ url_for('static', filename='img/Reglas.png') }}" alt="" class="imagen.Reglas"></a>
                    </td>
                    <td width="%33" aling="center">            
                        <a href={{ url_for('ret_nosotras') }} class="nav__link"><img src="{{ url_for('static', filename='img/Nosotras.png') }}" alt="" class="imagen.Nosotras"></a>
                    </td>

                </tr>
             
            </table>            
        </div>
    </footer>
</body>
</html>
