<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Involucrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nosotras.css') }}">
</head>
<body>
    <div class="container">

        <section id="screen1">
        <div>
            <div class="rectangulo">
                <h2>¿Quienes somos?</h2>
                
              <hr color= "#E84BC7" size=2 width="1400px">
            <p>SOMOS UN GRUPO DE ESTUDIANTES DEL COLEGIO PIO IX QUE BUSCA FOMENTAR EL CUMPLIMIENTO DE LOS OBJETIVOS DE DESARROLLO SOSTENIBLE, ESPECIFICAMENTE ESTE QUIZ PROFUNDIZA SOBRE LAS DESIGUALDADES.
                EL DECIMO ODS CONSISTE EN LA REDUCCION DE LAS DESIGUALDADES Y LA GARANTIA DE QUE NADIE SE QUEDE ATRAS. LAS DESIGUALDADES ESTAN AUMENTANDO PARA LAS POBLACIONES VULNERABLES, PUDIENDO SER DE GENERO, ETNIA O DISCRIMINACION EN EL ACCESO A LA EDUCACION. </p>
                <tabla>

                </tabla>
            </div>
          <div id="graficos"> <img src="{{ url_for('static', filename='GRAFICOS/ambitos discriminados.png') }}" alt="" class="imagen.ambitos discriminados">
          <img src="{{ url_for('static', filename='GRAFICOS/paises con mayor igualdad de genero.png') }}" alt="" class="imagen.paises con mayor igualdad de genero">
            <img src="{{ url_for('static', filename='GRAFICOS/personas discriminadas.png') }}" alt="" class="imagen.personas discriminadas">
            <img src="{{ url_for('static', filename='GRAFICOS/tipos de discriminacion.png') }}" alt="" class="imagen.tipos de discriminacion">
          </div>
        </div>
    </div>
    <footer>
        <div class="navbar">
            <table  width="100%">
                   
                <tr>
                    <td width="%33" aling="center">
                        <a href="{{ url_for('index')}}" class="active nav__link"><img src="{{ url_for('static', filename='img/Inicio.png') }}" alt="" class="imagen.Inicio"></a>
                    </td>
                    <td width="%33" aling="center">                
                        <a href="{{ url_for('reglas') }}" class="nav__link"><img src="{{ url_for('static', filename='img/Reglas.png') }}" alt="" class="imagen.Reglas"></a>
                    </td>
                    <td width="%33" aling="center">            
                        <a href="{{ url_for('nosotras') }}" class="active nav__link"><img src="{{ url_for('static', filename='img/Nosotras.png') }}" alt="" class="imagen.Nosotras"></a>
                      
                    </td>

                </tr>
             
            </table>            
        </div>
    </footer>
</body>
</html>