<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Involucrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ranking.css') }}">
</head>
<body>
    <div class="container">

        <section id="screen1">
            <div>
                <div class="rectangulo1">
                    <h2>TU PUNTAJE</h2>
                    <h2>{{puntaje}}</h2>
                </div>
            </div>
            <div>
                <div class="rectangulo2">
                    <h1>TOP RECORDS</h1>
                    <hr color= "#E84BC7" size=2 width="100%">
                    <table class="table-data">
                        <div>
                            <tr class="primerPuntaje">
                                <td id="nombre" width="1100px">
                                    <h2>{{nombre1}}</h2>
                                </td>
                                <td id="tiempo" width="1100px">
                                    <h2>{{tiempo1}} <text style="  font-family: 'ArcadeClassic';
    font-size: 50%;
    color: #E84BC7;">
s
  </text></h2>
                                </td>
                                <td id="puntos" width="1100px">
                                    <h2>{{top1}}</h2>
                                </td>    
                            </tr>
                        </div>
                        <div>
                            <tr class="segundoPuntaje">
                                <td id="nombre" width="1100px">
                                    <h2>{{nombre2}}</h2>
                                </td>
                                <td id="tiempo" width="1100px">
                                    <h2>{{tiempo2}}<text style="  font-family: 'ArcadeClassic';
    font-size: 50%;
    color: #E84BC7;">
s
  </text></h2>
                                </td>
                                <td id="puntos" width="1100px">
                                    <h2>{{top2}}</h2>
                                </td>
                            </tr>
                        </div>
                        <div>
                            <tr class="segundoPuntaje">
                                <td id="nombre" width="1100px">
                                    <h2>{{nombre3}}</h2>
                                </td>
                                <td id="tiempo" width="1100px">
                                    <h2>{{tiempo3}}<text style="  font-family: 'ArcadeClassic';
    font-size: 50%;
    color: #E84BC7;">
s
  </text></h2>
                                </td>
                                <td id="puntos" width="1100px">
                                    <h2>{{top3}}</h2>
                                </td>
                            </tr>
                        </div>
                        <div>
                            <tr class="segundoPuntaje">
                                <td id="nombre" width="1100px">
                                    <h2>{{nombre4}}</h2>
                                </td>
                                <td id="tiempo" width="1100px">
                                    <h2>{{tiempo4}}<text style="  font-family: 'ArcadeClassic';
    font-size: 50%;
    color: #E84BC7;">
s
  </text></h2>
                                </td>
                                <td id="puntos" width="1100px">
                                    <h2>{{top4}}</h2>
                                </td>
                            </tr>
                        </div>
                        <div>
                            <tr class="segundoPuntaje">
                                <td id="nombre" width="1100px">
                                    <h2>{{nombre5}}</h2>
                                </td>
                                <td id="tiempo" width="1100px">
                                    <h2>{{tiempo5}}<text style="  font-family: 'ArcadeClassic';
    font-size: 50%;
    color: #E84BC7;">
s
  </text></h2>
                                </td>
                                <td id="puntos" width="1100px">
                                    <h2>{{top5}}</h2>
                                </td>
                            </tr>
                        </div>
                    </table>
                </div>
            </div>
        </section>    
    </div>
<footer>
        <div class="navbar">
            <table  width="100%">
              
                <tr>
                    <td width="%33" aling="center">
                       <a href="{{ url_for('index') }}" class="nav__link"><img src="{{ url_for('static', filename='img/Inicio.png') }}" alt="" class="imagen.Inicio"></a> 
                    </td>
                    <td width="%33" aling="center">                                
                       <a href="{{ url_for('reglas') }}" class="nav__link"><img src="{{ url_for('static', filename='img/Reglas.png') }}" alt="" class="imagen.Reglas"></a> 
                      
                    </td>
                    <td width="%33" aling="center"> 
                       
                      <a href="{{ url_for('nosotras') }}" class="nav__link"><img src="{{ url_for('static', filename='img/Nosotras.png') }}" alt="" class="imagen.Nosotras"></a>
                    </td>

                </tr>
             
            </table>            
        </div>
    </footer>
</body>
</html>
