<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Involucrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ranking.css') }}">
</head>
<body>
    <div class="container">

        <section id="screen1">
            <div>
                <div class="rectangulo1">
                    <h2>TU PUNTAJE</h2>
                    <h2>XXXX</h2>
                </div>
            </div>
            <div>
                <div class="rectangulo2">
                    <h1>TOP RECORDS</h1>
                    <hr color= "#E84BC7" size=2 width="1000px">
                    <table class="table-data">
                        <div>
                            <tr class="primerPuntaje">
                                <td id="nombre" width="1100px">
                                    <h2>Cele</h2>
                                </td>
                                <td id="tiempo" width="1100px">
                                    <h2>01:00</h2>
                                </td>
                                <td id="puntos" width="1100px">
                                    <h2>{{puntaje}}</h2>
                                </td>    
                            </tr>
                        </div>
                        <div>
                            <tr class="segundoPuntaje">
                                <td id="nombre" width="1100px">
                                    <h2>Cele</h2>
                                </td>
                                <td id="tiempo" width="1100px">
                                    <h2>01:00</h2>
                                </td>
                                <td id="puntos" width="1100px">
                                    <h2>150</h2>
                                </td>
                            </tr>
                        </div>
                        <div>
                            <tr class="segundoPuntaje">
                                <td id="nombre" width="1100px">
                                    <h2>Cele</h2>
                                </td>
                                <td id="tiempo" width="1100px">
                                    <h2>01:00</h2>
                                </td>
                                <td id="puntos" width="1100px">
                                    <h2>150</h2>
                                </td>
                            </tr>
                        </div>
                        <div>
                            <tr class="segundoPuntaje">
                                <td id="nombre" width="1100px">
                                    <h2>Cele</h2>
                                </td>
                                <td id="tiempo" width="1100px">
                                    <h2>01:00</h2>
                                </td>
                                <td id="puntos" width="1100px">
                                    <h2>150</h2>
                                </td>
                            </tr>
                        </div>
                        <div>
                            <tr class="segundoPuntaje">
                                <td id="nombre" width="1100px">
                                    <h2>Cele</h2>
                                </td>
                                <td id="tiempo" width="1100px">
                                    <h2>01:00</h2>
                                </td>
                                <td id="puntos" width="1100px">
                                    <h2>150</h2>
                                </td>
                            </tr>
                        </div>
                    </table>
                </div>
            </div>
        </section>    
    </div>
<footer>
        <div class="navbar">
            <table  width="100%">
              
                <tr>
                    <td width="%33" aling="center">
                       <a href="{{ url_for('index') }}" class="nav__link"><img src="{{ url_for('static', filename='img/Reglas.png') }}" alt="" class="imagen.Reglas"></a> 
                    </td>
                    <td width="%33" aling="center">                                
                       <a href="{{ url_for('reglas') }}" class="nav__link"><img src="{{ url_for('static', filename='img/Reglas.png') }}" alt="" class="imagen.Reglas"></a> 
                      
                    </td>
                    <td width="%33" aling="center"> 
                       
                      <a href="{{ url_for('nosotras') }}" class="nav__link"><img src="{{ url_for('static', filename='img/Nosotras.png') }}" alt="" class="imagen.Nosotras"></a>
                    </td>

                </tr>
             
            </table>            
        </div>
    </footer>
</body>
</html>
