<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Involucrados</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='reglas.css') }}">
</head>
<body>
    <div class="container">

        <section id="screen1">
        <div>
            <div class="rectangulo">
                <h2>REGLAS</h2>
                <hr color= "#E84BC7" size=2 width="1400px">
            <p>Involucrados, tiene como objetivo divulgar y tomar conciencia de los ODS (Objetivos de Desarrollo Sostenible), son parte de un proyecto internacional que intenta transformar el mundo mediante la Agenda 2030. Para comenzar el juego, el usuario ingresara su nombre, luego presionara el boton “Jugar”. Le aparecera otra pantalla en donde podra elegir “Nivel 1” (facil) o “Nivel 2” (dificil). Una vez que eligio una opcion, podra seleccionar la tematica del ODS “Desigualdades”, hay tres opciones: “Desigualdad de genero”, “Desigualdad de etnia” y “Desigualdad de educacion”. Cada sección tendrá preguntas relacionadas con la tematica seleccionada. Asimismo, habra un cronometro que tomara el tiempo que se tardo en responder todas las preguntas. Al finalizar el juego, aparecera la puntuacion del jugador y un ranking de los mejores 5 jugadores en todo el pais. </p>
                <tabla>

                </tabla>
            </div>
        </div>
    </div>
    <footer>
        <div class="navbar">
            <table  width="100%">
                  
                <tr>
                    <td width="%33" aling="center">
                        <a href={{ url_for('ret_involucrados')}} class="active nav__link"><img src="{{ url_for('static', filename='img/Inicio.png') }}" alt="" class="imagen.Inicio"></a>
                    </td>
                    <td width="%33" aling="center">                
                        <a href={{ url_for('ret_reglas') }} class="nav__link"><img src="{{ url_for('static', filename='img/Reglas.png') }}" alt="" class="imagen.Reglas"></a>
                    </td>
                    <td width="%33" aling="center">            
                        <a href={{ url_for('ret_nosotras') }} class="nav__link"><img src="{{ url_for('static', filename='img/Nosotras.png') }}" alt="" class="imagen.Nosotras"></a>
                    </td>

                </tr>
              
            </table>            
        </div>
    </footer>
</body>
</html>