<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Involucrados</title>
    <link rel="stylesheet" href="tematica.css">
</head>
<body>
  <div class="container">
    <section id="screen1">
    <div class="rectangulo">
      <div calss="dificultades">
        <h2>TEMATICA DESIGUALDADES</h2>
        <hr color= "#E84BC7" size=2 width="1400px">
      </div>
      <div class = "cont">  
        <main class="form-signin">
          <form method="GET" action="/tematica1" id="formulario1">
            <div class="genero" id="estilos-botones">
              <input type="submit" class="w-100 btn btn-lg btn-success mt-2" value="GENERO"/>
            </div>
          </form>
        </main>
        <main class="form-signin">
          <form method="GET" action="/tematica2" id="formulario1">
            <div class="etnia" id="estilos-botones">
              <input type="submit" class="w-100 btn btn-lg btn-success mt-2" value="ETNIA"/>
            </div>
          </form>
        </main>  
        <main class="form-signin">
          <form method="GET" action="/tematica3" id="formulario1">
            <div class="educación" id="estilos-botones">
              <input type="submit" class="w-100 btn btn-lg btn-success mt-2" value="EDUCACION"/>
            </div>
          </form>
        </main>
      </div>
    </div>
  </div>
    
    </div>
    <footer>
        <div class="navbar">
            <table  width="100%">
                <tr>
                    <td width="%33" aling="center">
                        <a href="templates/involucrados.html" class="active nav__link"><img src="static/img/Inicio.png" alt="" class="imagen.Inicio"></a> 
                    </td>
                    <td width="%33" aling="center">                
                        <a href="templates/reglas.html" class="nav__link"><img src="static/img/Reglas.png" alt="" class="imagen.Reglas"></a>
                    </td>
                    <td width="%33" aling="center">            
                        <a href="templates/nosotras.html" class="nav__link"><img src="static/img/Nosotras.png" alt="" class="imagen.Nosotras"></a>
                    </td>
                </tr>
            </table>            
        </div>
    </footer>
</body>
</html>
