<body>
    <div class="container">

        <section id="screen1">
        
        <div class="rectangulo">
            <div calss="tematicas">
                <h2>TEMATICA DESIGUALDADES</h2>
                <hr color= "#E84BC7" size=2 width="1185px">
            </div>
            <div class = "cont">
                <div class="genero" id="estilos-botones">
                    <a href="{{ url_for('tematica1') }}"> 
                        <input type="button" class="genero" value="GENERO">
                    </a>
                </div>
                <div class="etnia" id="estilos-botones"> 
                    <a href="{{ url_for('tematica2') }}"> 
                        <input type="button" class="etnia" value="ETNIA">
                    </a> 
                </div>
                <div class="educación" id="estilos-botones">
                    <a href="{{ url_for('tematica3') }}"> 
                        <input type="button" class="educacion" value="EDUCACION">
                    </a>
                </div>
            </div>
        </div>
    
    </div>
    <footer>
        <div class="navbar">
            <table  width="100%">
                <tr>
                    <td width="%33" aling="center">
                        
                      <a href="{{ url_for('index') }}" class="active nav__link"><img src="{{ url_for('static', filename='img/Inicio.png') }}" alt="" class="imagen.Inicio"></a>
                    </td>
                    <td width="%33" aling="center">                                
                       <a href="{{ url_for('reglas') }}" class="nav__link"><img src="{{ url_for('static', filename='img/Reglas.png') }}" alt="" class="imagen.Reglas"></a> 
                      
                    </td>
                    <td width="%33" aling="center"> 
                       
                      <a href="{{ url_for('nosotras') }}" class="nav__link"><img src="{{ url_for('static', filename='img/Nosotras.png') }}" alt="" class="imagen.Nosotras"></a>
                    </td>
                </tr>
            </table>            
        </div>
    </footer>
</body>
</html>
